$textColor: #DFE0DF;

// 登录页配置
$loginTextColor: $textColor;
$loginButtonColor: #1F7290;
$loginSuffixColor: #D39C72;
$loginBlurColor: rgb(89 63 30 / 43%);

// sideBar配置
$sideBarWidth: 250px;
$sideBarBackground: #222226;
$sideBarTextColor: $textColor;
// navBar配置
$navBarHeight: 60px;
$tagHeight: 30px;
$navBarBackground: #111113;
$tagBackground: #1F7290;
// appMain配置
$appMainBackground: #111113;
$appMainTextColor: $textColor;